doctype 
html(xmlns="http://www.w3.org/1999/xhtml")
head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="css/email/simple.css")
body
    table(class="body-wrap")
      tr
        td(class="container")
          table
            tr
              td(align="center" class="masthead")
                h1 oow 
            tr
              td(td class="content")
                h2 All Things Guests, One Easy Place
                p Find and book your dream team of local pros with personalized vendor, photographer and more... recommendations based on your style and budget.
                table
                  tr
                    td(align="center")
                      p
                        a(href="#" class="button") Share the Awesomeness
                p
              td(class="container")

      tr
        td(class="content footer" align="center")
          table
            tr
              td(class="content footer" align="center")
                p Sent by <a href="#">oow</a>, ALL CONTENT COPYRIGHT © 2018 
                p <a href="mailto:">oow@support.com</a>
