extends index
block append linksCss  
  link(rel="stylesheet" , href="css/login/singin.css")

block pageTitle
  title Signin
  
block pageContent
  |
  <!-- start Nav -->
  nav(class="navbar navbar-toggleable-md navbar-light")
     .container
          |
          |
          a(class="navbar-brand", href="index.html")
              img(src="img/Home-page/logo.png")

  |
  |
  <!-- End Nav -->
  |
  |
  <!-- start login -->
  .singin
    .container
      .row
        .left(class="col-lg-6 col-md-12 col-sm-12 text-center")
          h1 
          p 
          img(src="img/login/undraw_freelancer_b0my.svg")
            
          .group
            .birds-one 
              img(src="img/login/Group 200.svg")  
            .birds-two 
              img(src="img/login/Group 200.svg")    
            .birds-three 
              img(src="img/login/Group 200.svg")   
          
          .group
            .papple-two 
              img(src="img/login/Group 197.svg")  
            .papple-three 
              img(src="img/login/Group 197.svg")    

        .right(class="col-lg-6 col-md-12 col-sm-12 text-center" )
          h1 Forget Password
          p Add Your Email <a href="/signin"> OR  Back To Signin </a>
          form(id="login-form" action="/forget" method="post")
            .input-field
              input(type="email",id="login-email", class="btn-sub", name="email", placeholder="Enter Your Email Address" required)
            div(class="form")
              button(type="submit", name="submit", class="btn-two") Send
            h6.text-danger.text-centered= errors.message 
            h6.text-success.text-centered=success.message 
            
        .underfoo
          .group      
            .papple-one 
              img(src="img/login/Group 198.svg")     
          p @Oow copyright  2018  