doctype 
html(lang="en") 
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        script(src="/js/jquery-3.2.1.min.js")
        block pageTitle  
          title Oow
        block linksCss  
          include include/links
    body
          block pageContent
            |
            <!-- start nav -->
            nav(class="navbar navbar-toggleable-md navbar-light")
               .container
                    |
                    |
                    a(class="navbar-brand", href="#")
                        img(src="img/Home-page/logo.png")
                    
        
                    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#silver" aria-controls="navbarSupportedContent"  aria-expended="false" aria-lebal="toggle navgation") menu
                          
                    div(class="collapse navbar-collapse", id="silver")
                      ul(class="navbar-nav ml-auto")
                          li(class="nav-item active")
                             a(class="nav-link" href="#about" data-value="about") ABOUT 

                          li(class="nav-item")
                            a(class="nav-link" href="#ideas" data-value="ideas") IDEAS & INSIPRATION 

                          li(class="nav-item")
                            a(class="nav-link" href="#planning" data-value="planning") PLANING
                          
                          li(class="nav-item")
                            a(class="nav-link" href="#subscribe" data-value="subscribe") SUBSCRIBE
                            
                          li(class="nav-item")
                            a(class="nav-link" href="#our-plan" data-value="our-plan") OUR PLAN 
                              
                          li(class="nav-item")
                            a(class="nav-link" href="#contact" data-value="contact") CONTACT US
                          if user
                            li(class="nav-item")
                            a(href="/search" class="btn oow" role="button" aria-pressed="true") Go To Search
                            li(class="nav-item")
                              a(href="/logout" class="btn btn-oow" role="button" aria-pressed="true") Logout 
                          else
                            li(class="nav-item")
                              a(href="/signin" role="button" class="btn oow" aria-pressed="true") LOG IN                          
                            li(class="nav-item")
                              a(href="/signup" class="btn btn-oow" role="button" aria-pressed="true") SIGN UP         
            |
            |
            <!-- End nav -->
            |
            |
            <!-- start header -->
            .header
              .container
                .header-content
                  h1(class="text-color") Your Wedding <br> Adeventure Start Here
                  .section-color(class="hide-on-small-only hide-on-med-only")
                  a(class="btn btn-oow"  href="/signup" ) Sign Up
                  p(class="text-color") Already a member? <a href="login.html" class="ooww">Log in</a> 
            |
            |
            <!-- End Header -->
            |
            |
            <!-- start about -->
            .about(id="about")
              div
                .img-one 
                    img(src="img/Home-page/svg-icon/heart.svg" class="heart" )
                .img-two
                    img(src="img/Home-page/svg-icon/pallown.svg" class="pallown" )
                .img-three
                    img(src="img/Home-page/svg-icon/birds.svg" class="birds" )
              .container
                .row
                    div(class="col-lg-5 col-md-12 col-sm-12 about-text ")
                      h2 EVERYTHING YOU NEED TO  START YOUR <span class="text-website-color"> WEDDING</span> PLANNING (ADVENTURE)
                      p all your favorites in one place find local professionals  find unique registry gift ideas Choose a date

                    div(class="col-lg-7 col-md-12 col-sm-12 about-image")
                      img(src="img/Home-page/about-image.png")          
            |
            |
            <!-- End about -->
            |
            |
            <!-- start section ideas -->
            .ideas(id="ideas")
              .container
                .row
                  div(class="col-lg-5 col-md-12 col-sm-12 ideas-text ")
                    h2 IDEAS , INSPIRATION <span class="text-website-color">&</span>Concert halls
                    p collect & organize ideas connect to vendors get wedding tips best places.
                  div(class="col-lg-7 col-md-12 col-sm-12 ideas-img ")
                    img(src="img/Home-page/ideas-img.png")
            |
            |
            <!-- End Section Ideas --> 
            |
            |
            <!-- Start planing -->
            .planning(id="planning")
              .container
                .row
                  div(class="col-lg-12 col-md-12 col-sm-12 planning-text text-center")
                    h2 Wedding Planning Starts Here
                    p We'll guide you every step of the way with expert wedding planning tips, articles, vendors, inspiration and more
                  div(class="col-lg-4  col-md-12 col-sm-12 planning-img-one " ) 
                    a(href="homeplan/plan1")
                      img(src="img/Home-page/aisle-beach-celebration-169198.png" href="#")
                    h3(class="text-center") Essential Wedding Planning Tips and Tricks  
                  div(class="col-lg-2 offset-lg-1  col-md-12 col-sm-12 planning-img-sum" ) 
                    img(src="img/Home-page/Path 50.svg")
                  div(class="col-lg-4 offset-lg-1  col-md-12 col-sm-12 planning-img-three" ) 
                    a(href="homeplan/plan2")
                      img(src="img/Home-page/Mask Group 5.png")
                    h3(class="text-center") Essential Wedding Planning Tips and Tricks  
            |
            |
            <!-- End Planing -->   
            |
            |
            <!-- start Subscribe --> 
            hr
            .subscribe(id="subscribe") 
                .container
                  .row
                    div(class="col-lg-5 col-md-12 col-sm-12 sub-img")
                      img(src="img/Home-page/undraw_newsletter_vovu.svg")
                    div(class="col-lg-5 offset-lg-2  col-md-12 col-sm-12 sub-content text-center")
                      h2 SUBSCRIBE
                      .sub-color(class="hide-on-small-only hide-on-med-only")
                      form(id="sub-form",action="/subscribe",method="Post")
                        input(type="email" , class=`btn-sub${errors.email?' invalid':''}`, name="email", placeholder="Enter Your Email Address")
                        .invalid-feedback=errors.email
                        button(type="submit" , class="btn-sub") Subscribe now
                      p Subscribe and receive our newsletter to follow the news about the Oow  
            hr
            |
            |
            <!-- end Subscribe --> 
            |
            |
            <!-- start About our plan -->
            .our-plan(id="our-plan")
              .container
                .row
                  div(class="col-lg-12 col-md-12 col-sm-12 text-center header-plan")
                    h2 Wedding Planning Has Never Been Easier
                    p Sign up for <span class="ooww">Oow</span> and get access to your all-in-one wedding planner.
                  div(class="col-lg-4 col-md-12 col-sm-12 text-center content-plan")
                    img(src="img/Home-page/icon-plan/Group 18.svg")
                    h3(class="main-color") Wedding Vision 
                    p Define Your Wedding Style and Get Matched With Local vendors.

                  div(class="col-lg-4 col-md-12 col-sm-12 text-center content-plan")
                    img(src="img/Home-page/icon-plan/screen.svg")
                    h3(class="main-color") Photographers
                    p Take Your  photo shoots With Family and Friends.
      
                  div(class="col-lg-4 col-md-12 col-sm-12 text-center content-plan")
                    img(src="img/Home-page/icon-plan/shopping.svg")
                    h3(class="main-color") Budgeter 
                    p Get a Personalized Spending Plan Based On Your UniqueBudget.
            |
            |
            <!-- End About our plan -->
            |
            |
            <!-- start Contant Us --> 
            .contact(id="contact")
              .container
                .row
                  div(class="col-lg-5 col-md-12 col-sm-12  contact-content")
                    h2 CONTACT US
                    .cont-color(class="hide-on-small-only hide-on-med-only")
                    p Fill in the filed below and we'll get back to you.
                    form(class="contact-form")
                      input(type="text" , name="name" , placeholder="Name", class="btn-cont")
                      input(type="email" , name="email" , placeholder="Email", class="btn-cont")
                      textarea(class="btn-cont")
                      button(type="submit" , name="submit") Submit
                  div(class="col-lg-5 offset-lg-2 col-md-12 col-sm-12 cont-img")
                      img(src="img/Home-page/undraw_messaging_uok8.svg")    
            |
            |
            <!-- End CONTACT us -->
            |
            |
            <!-- start footer --> 
            .footer
              .row
                div(class="col-lg-12 col-md-12 col-sm-12 foot-img")
                  img(src="img/Home-page/Mask Group 9.svg") 
                  div(class="foo-cont")
                    p(class="foot-para") &copy; 2019 Oow All Rights Reserved              
                    div(class="show")
                        ul(class="list-terms ml-auto")
                              li(class="nav-item")
                                a(class="nav-link" href="/termsPrivacy") TERMS & CONDITIONS
        
                              li(class="nav-item")
                                a(class="nav-link" href="/termsPrivacy") PRIVACY POLICY
                                
                        ul(class="list-unstyled lists")
                          li
                            a(href="#")
                              <i class="fab fa-facebook-square fa-2x"></i>
                          li  
                            a(href="#")
                              <i class="fab fa-twitter-square fa-2x"></i>
                          li
                            a(href="#")
                              <i class="fab fa-instagram fa-2x"></i>      
            |
            |
            <!-- End footer -->
            
          
          include include/linksjs
  
