extends index
block append linksCss 
  link(rel="stylesheet" , href="css/orders/order-worker.css")
  

block pageTitle
  title Pricing & Table 
        
block pageContent
    // start Nav
    nav.navbar.navbar-toggleable-md.navbar-light
      .container
        a.navbar-brand(href='/')
          img(src='img/Home-page/logo.png')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#silver', aria-controls='navbarSupportedContent', aria-expended='false', aria-lebal='toggle navgation') menu
        include include/nav.pug
    // End Nav
    h2(class="text-center hea-cen") My Orders
    // Start Oreders 
    each contract in contracts
      .orders
        .container
          .row
            .col-lg-2.up
              .one
                img(src=contract.user.profileimage)
            .col-lg-10.down.row
              .two.col-md-10
                p(clas='name' style="padding :0")
                  span=contract.user.firstName 
                  span.px-2=contract.user.lastName  
                
                p(clas='name' style="padding :0")
                  span(style="font-size:18px;color:rgba(0,0,0,0.64)")=contract.user.email 

              .col-md-2
                if contract.done
                  span.badge.badge-primary(style="margin:0 15px; font-size : 100%") Done
                else if contract.accepted
                  span.badge.badge-success(style="margin:0 15px; font-size : 100%") Accepted
                
                else if contract.accepted === false
                  span.badge.badge-danger(style="margin:0 15px; font-size : 100%") Rejected
                
                else 
                  span.badge.badge-warning(style="margin:0 15px; font-size : 100%") Pending
                  
            .col-lg-2
                  button(class="btn")  
                    a(href=`/view-contract/${contract._id}`) View
                             

    // End orders 
    // start footer
    .footer-new
      .container
        .row
          .col-lg-6.col-sm-12
          .col-lg-6.col-sm-12
            .social
              ul.list-unstyled.lists
                li
                  a(href='#')
                    i.fab.fa-facebook-square.fa-2x
                li
                  a(href='#')
                    i.fab.fa-twitter-square.fa-2x
                li
                  a(href='#')
                    i.fab.fa-instagram.fa-2x
        .row
          .col-lg-6.col-sm-12
            p.white © 2018 Oow, all rights reserved 
          .col-lg-6.col-sm-12
            .link-footer
              ul.list-unstyled
                li.nav-item
                  a.nav-link(href='#Terms & Conditions') TERMS & CONDITIONS
                li.nav-item
                  a.nav-link(href='#Privacy Policy') PRIVACY POLICY
    // End footer
