extends index
block append linksCss 
  link(rel="stylesheet" , href="css/orders/order-worker.css")

block pageTitle
  title Pricing & Table 
        
block pageContent
    // start Nav
    nav.navbar.navbar-toggleable-md.navbar-light
      .container
        a.navbar-brand(href='index.html')
          img(src='img/Home-page/logo.png')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#silver', aria-controls='navbarSupportedContent', aria-expended='false', aria-lebal='toggle navgation') menu
        #silver.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle.href-color(data-toggle='dropdown', href='#') SETTINGS
              .dropdown-menu
                a.dropdown-item(href='#') Profile
                a.dropdown-item(href='#') Account Settings
                a.dropdown-item(href='#') Complaints
                a.dropdown-item(href='#') Remove Account
                a.dropdown-item(href='#') Log Out 
    // End Nav
    h2(class="text-center hea-cen") My Orders
    // Start Oreders 
    .orders
      .container
        .row
          .col-lg-2.up
            .one
              img(src='img/our-section/worker/3.png')
          .col-lg-10.down
            .two
              p(clas='name')
                | Johan Dou - 
                span.company-name Company 
          .col-lg-2
                button(class="btn")  
                  a(href='#') Accept
          .col-lg-2
                button(class="btn")  
                  a(href='#') Rejection
          .col-lg-2
                button(class="btn")  
                  a(href='#') Print
                  
    
    .orders
      .container
        .row
          .col-lg-2.up
            .one
              img(src='img/our-section/worker/3.png')
          .col-lg-10.down
            .two
              p(clas='name')
                | Johan Dou - 
                span.company-name Company 
          .col-lg-2
                button(class="btn")  
                  a(href='#') Accept
          .col-lg-2
                button(class="btn")  
                  a(href='#') Rejection
          .col-lg-2
                button(class="btn")  
                  a(href='#') Print                  

    // End orders 
    // start footer
    .footer-new
      .container
        .row
          .col-lg-6.col-sm-12
          .col-lg-6.col-sm-12
            .social
              ul.list-unstyled.lists
                li
                  a(href='#')
                    i.fab.fa-facebook-square.fa-2x
                li
                  a(href='#')
                    i.fab.fa-twitter-square.fa-2x
                li
                  a(href='#')
                    i.fab.fa-instagram.fa-2x
        .row
          .col-lg-6.col-sm-12
            p.white © 2018 Oow, all rights reserved 
          .col-lg-6.col-sm-12
            .link-footer
              ul.list-unstyled
                li.nav-item
                  a.nav-link(href='#Terms & Conditions') TERMS & CONDITIONS
                li.nav-item
                  a.nav-link(href='#Privacy Policy') PRIVACY POLICY
    // End footer
