extends index
block append linksCss  
  link(rel="stylesheet" , href="/css/our-section/our-section.css")


block pageTitle
  title Our Section
  
block pageContent
  |
  <!-- start Nav -->
  nav(class="navbar navbar-toggleable-md navbar-light")
     .container
          |
          |
          a(class="navbar-brand", href="index.html")
              img(src="img/Home-page/logo.png")
          
          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#silver" aria-controls="navbarSupportedContent"  aria-expended="false" aria-lebal="toggle navgation") menu
                
          div(class="collapse navbar-collapse", id="silver")
            ul(class="navbar-nav ml-auto")
              li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle href-color" data-toggle="dropdown" href="#") SETTINGS
                div(class="dropdown-menu")
                  a(href="#" class="dropdown-item") Profile
                  a(href="#" class="dropdown-item") Account Settings
                  a(href="#" class="dropdown-item") Complaints
                  a(href="#" class="dropdown-item") Remove Account
                  a(href="#" class="dropdown-item") Log Out 


  |
  |
  <!-- End Nav -->
  |
  |
  <!-- start Our section -->
  .our-section
    .container
      .row
        div(class="col-lg-4")
          div(class="card")
            a(href="" class="more") Show More
            img(src="img/our-section/Mask Group 17.png" class="card-img-top" alt="...")
            div(class="card-body text-center")
              h2 Wedding Venues
              p Some quick example text to build on the card title and make up the bulk of the card's content.
      
        div(class="col-lg-4")
          div(class="card")
            a(href="#" class="more") Show More
            img(src="img/our-section/Mask Group 12.png" class="card-img-top" alt="...")
            div(class="card-body text-center")
              h2 Photography
              p Some quick example text to build on the card title and make up the bulk of the card's content.
            
        div(class="col-lg-4")
          div(class="card")
            a(href="#" class="more") Show More
            img(src="img/our-section/Mask Group 11.png" class="card-img-top" alt="...")
            div(class="card-body text-center")
              h2 Caterers
              p Some quick example text to build on the card title and make up the bulk of the card's content.
      
        div(class="col-lg-4")
          div(class="card")
            a(href="#" class="more") Show More
            img(src="img/our-section/Mask Group 13.png" class="card-img-top" alt="...")
            div(class="card-body text-center")
              h2 Beauty Center
              p Some quick example text to build on the card title and make up the bulk of the card's content.
      
        div(class="col-lg-4")
          div(class="card")
            a(href="#" class="more") Show More
            img(src="img/our-section/Mask Group 19.png" class="card-img-top" alt="...")
            div(class="card-body text-center")
              h2 Wedding Flowers
              p Some quick example text to build on the card title and make up the bulk of the card's content.
            
        div(class="col-lg-4")
          div(class="card")
            a(href="#" class="more") Show More
            img(src="img/our-section/Mask Group 18.png" class="card-img-top" alt="...")
            div(class="card-body text-center")
              h2 Wedding Cakes
              p Some quick example text to build on the card title and make up the bulk of the card's content.


        div(class="col-lg-4")
          div(class="card")
            a(href="#" class="more") Show More
            img(src="img/our-section/Mask Group 20.png" class="card-img-top" alt="...")
            div(class="card-body text-center")
              h2 Dress & Attire
              p Some quick example text to build on the card title and make up the bulk of the card's content.
      
        div(class="col-lg-4")
          div(class="card")
            a(href="#" class="more") Show More
            img(src="img/our-section/21.png" class="card-img-top" alt="...")
            div(class="card-body text-center")
              h2 Music
              p Some quick example text to build on the card title and make up the bulk of the card's content.
            
        div(class="col-lg-4")
          div(class="card")
            a(href="#" class="more") Show More
            img(src="img/our-section/Mask Group 21.png" class="card-img-top" alt="...")
            div(class="card-body text-center")
              h2 Favors & Gifts
              p Some quick example text to build on the card title and make up the bulk of the card's content.
      
                                                                  
  
  |
  |
  <!-- End Our section -->
  |
  |
  <!-- start footer -->
  .footer-new
    .container
      .row
        div(class="col-lg-6 col-sm-12")
        div(class="col-lg-6 col-sm-12")
          .social
            ul(class="list-unstyled lists")
              li
                a(href="#")
                  <i class="fab fa-facebook-square fa-2x"></i>
              li  
                a(href="#")
                  <i class="fab fa-twitter-square fa-2x"></i>
              li
                a(href="#")
                  <i class="fab fa-instagram fa-2x"></i>  
      .row            
        div(class="col-lg-6 col-sm-12")
          p(class="white") © 2018 Oow, all rights reserved 
        div(class="col-lg-6 col-sm-12")
          .link-footer
            ul(class="list-unstyled")
                  li(class="nav-item")
                    a(class="nav-link" href="#Terms & Conditions") TERMS & CONDITIONS

                  li(class="nav-item")
                    a(class="nav-link" href="#Privacy Policy") PRIVACY POLICY
  
  <!-- End footer -->
