extends index
block append linksCss 
  link(rel="stylesheet" , href="/css/pricing-table/pricing-table.css")

block pageTitle
  title Pricing & Table 
        
block pageContent
  |
  <!-- start Nav -->
  nav(class="navbar navbar-toggleable-md navbar-light")
     .container
          |
          |
          a(class="navbar-brand", href="index.html")
              img(src="/img/Home-page/logo.png")
          
          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#silver" aria-controls="navbarSupportedContent"  aria-expended="false" aria-lebal="toggle navgation") menu
                
          div(class="collapse navbar-collapse", id="silver")
            ul(class="navbar-nav ml-auto")
                li(class="nav-item")
                  a(href="#" role="button" class="btn oow" aria-pressed="true") LOG OUT
          
  hr        
                                            
  |
  |
  <!-- End Nav -->
  |
  |
  
  <!-- start Pricing section -->
    div(class="pricing-section")
      div(class="container")
          h2(class="text-center") pricing
          div(class="whole-container")
            div(class="row")
              div(class="col-lg-4")
                div(class="whole")
                  div(class="plan")
                    div(class="headers")
                      <span> $ </span>29<sup>99</sup>
                      p(class="month") Per 6 Months
                    div(class="content")
                      ul
                        li 15 Email Accounts  
                        li 15 Email Accounts  
                        li 15 Email Accounts  
                        li 15 Email Accounts  
                        li 15 Email Accounts  
                    div(class="price")
                      a(href="#" class="bottom")
                        p(class="cart") Select  
              div(class="col-lg-4")                 
                div(class="whole")      
                  div(class="plan")
                    div(class="headers")
                      <span> $ </span>00<sup>00</sup>
                      p(class="month") Free 
                    div(class="content")
                      ul
                        li 15 Email Accounts  
                        li 15 Email Accounts  
                        li 15 Email Accounts  
                        li 15 Email Accounts  
                        li 15 Email Accounts  
                    div(class="price")
                      a(href="#" class="bottom")
                        p(class="cart") Select  
                        
              div(class="col-lg-4")           
                div(class="whole")                        
                  div(class="plan")
                    div(class="headers")
                      <span> $ </span>79<sup>99</sup>
                      p(class="month") Yearly
                    div(class="content")
                      ul
                        li 15 Email Accounts  
                        li 15 Email Accounts  
                        li 15 Email Accounts  
                        li 15 Email Accounts  
                        li 15 Email Accounts  
                    div(class="price")
                      a(href="#" class="bottom")
                        p(class="cart") Select 