extends index
block append linksCss  
  link(rel="stylesheet" , href="css/planning/planning.css")

  
  
block pageTitle
  title Planing two
block pageContent
  |
  <!-- start Nav -->
  nav(class="navbar navbar-toggleable-md navbar-light")
     .container
          |
          |
          a(class="navbar-brand", href="index.html")
              img(src="img/Home-page/logo.png")
          

          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#silver" aria-controls="navbarSupportedContent"  aria-expended="false" aria-lebal="toggle navgation") menu
                
          div(class="collapse navbar-collapse", id="silver")
            ul(class="navbar-nav ml-auto")
                li(class="nav-item")
                  a(href="#" role="button" class="btn oow" aria-pressed="true") LOG IN
                                            
                li(class="nav-item")
                  a(href="#" class="btn btn-oow" role="button" aria-pressed="true") SING UP         
  |
  |
  <!-- End Nav -->
  
  |
  |
  <!-- Start Conetnt plan-one -->
  .plan-one(class="text-center")
    .container
      .row
        .content(class="col-lg-12 col-md-12 col-sm-12")
          h2 Essential Planning Tips From Wedding Pros
          p From venue hunting tricks to the secret behind sticking to your budget, our favorite wedding pros share their must-know planning hacks.
          img(src="img/planning/Mask Group 5.jpg")
          p(class="under") There are a few reasons why we always stress the importance of getting a wedding planner if your budget allows. Besides making sure your wedding day goes off without a hitch, wedding planners have tons of experience and are an endless source of inspiration, ideas, and advice. Check out these foolproof, real-talk tips below from some of our favorite wedding planners and designers. 
        .tips(class="col-lg-12 col-md-12 col-sm-12 plan-two")
          h3(class="main-color") On getting engaged:
          p "Your partner has likely been working up to this for months, so slow down and share the time with friends and family—you don't need to look at venues on day one."
          p "Catch your breath and acknowledge the commitment you've just made to each other, even if you're in a room full of friends."
          p "After you've celebrated, sit down with your families to discuss your budget: Who is paying for what? How will payments be made? After that talk, create a 'big day' bank account, so everyone can contribute." 
          img(src="img/planning/Mask Group 6-compressed.jpg")

          h3(class="main-color") On budgeting:
          p "Keep your guest list to those most important to you. An increased guest count is the easiest way for additional costs to sneak up on you since you'll need to add more invitations, flowers, food, and linens."
          p "Don't spend it all in one place and be prepared to be flexible. You might have to go with a small meal instead of a full open Buffet."
          p "If you're unsure about hiring a planner, then pay one to put your budget together. He or she can help you determine how much money you should put toward specific wedding elements, including your venue, entertainment, décor, and photographer." 
          p "Don't be afraid of off-peak months, and don't hesitate to ask for a discount—you never know unless you try." 

          
          h3(class="main-color") On planning:
          p "Think about your wedding logistics—specifically, how your guests will experience every moment, from receiving the save-the-dates to sitting at their table. When you see everything from a guest's perspective, all of the choices you make for your day will be memorable ones." 
          p "Skip any tradition you don't feel reflected you as a couple and craft your wedding to be uniquely you. You'll never regret that decision."
          p "Stick to your guest list once it's complete. When it's done, it's done. It can be stressful and confusing for all involved when you take away or add more family members or friends to the list." 
          p "DIY details are great, but your guests are at your wedding for roughly four hours. Sometimes it's not worth it to put in the work for DIY projects that will go unnoticed, even if you're the creative type." 
          p "Research your pros, don't assume anything, and don't trust that people can read your mind and know what you want
          p "What goes up must come down. Remember to ask yourself what responsibilities you have after your reception ends. What needs to be torn down? Who's driving you to the airport?
          
          h3(class="main-color") On invitations:
          p  "Don't skimp on the quantity. I can't begin to count how many clients have had to come back and order an additional 25 invitations because they tried to cut it too close to their guest list. Guests that missed the list always find a way of popping up, and it's very costly to do a reprint." 
          p "Expect to set aside 5 to 10 percent of your wedding budget on stationery, since custom work will incur a design fee on top of your printing costs. Also expect to pay more for letterpress, foil stamping and engraving, since they're all highly specialized printing methods."
          p "Check and double-check before any printed pieces go to press. And don't forget thank-you notes—they can be printed at the same time as your invitations as a way to save." 
          p "Digital calligraphy can still be very beautiful, and it's much less expensive than having a calligrapher address all of the envelopes by hand." 
          img(src="img/planning/Mask Group 7-compressed.jpg")

  
          h3(class="main-color") On cakes:
          p Focus on flavor first! Find a cake pro who really knows how to make a great tasting cake. Once you've found a flavor (or flavors) you love, the design inspiration will quickly follow."
          p "Be empowered, ask a lot of question and don't get intimidated that you've never ordered a wedding cake before. Spoiler: most couples haven't!"
          p "Make sure you love the way your cake tastes just as much as you love the design. Ultimately, it's one of the first things guests notice—and it's the last thing they eat." 
          p "If you're getting married during the summer months, stay away from buttercream since it can become too soft in the sun." 
          img(src="img/planning/Group 8-compressed.jpg")

          h3(class="main-color") On flowers:
          p "Choosing flowers that are not only readily available but will also work well in your climate is key. Having a style you want, as opposed to an exact flower, will give your florist the flexibility they need." 
          p "Many photographers love to have extra blooms for detail shows or for setting up invitation suite photos, so ask to have a few special flowers on hand, just in case." 
          p "Don't request an unnatural flower color, especially teal and turquoise. While those colors are beautiful for bridesmaid dresses, they're not appealing for a dyed flower. Find a color that's grown naturally—it will keep your wedding timeless when you look back in 10 or 20 years." 
          
          h3(class="main-color") On unexpected emergencies:
          p "Make sure that engagement ring is insured—no one needs a missing ring!"
          p "Always have one of your photographers take the stairs: One time, both photographers got stuck in a hotel elevator on the way to the church. It took more than 30 minutes to get them out, while I frantically tried to see if we could find another photographer to shoot the ceremony."
  |
  |
  <!-- End -->  
    
  
  |
  |
  <!-- start footer --> 
  .footer
    .row
      div(class="col-lg-12 col-md-12 col-sm-12 foot-img")
        img(src="img/Home-page/Mask Group 9.svg") 
        div(class="foo-cont")
          p(class="foot-para") &copy; 2019 Oow All Rights Reserved              
          div(class="show")
              ul(class="list-terms ml-auto")
                    li(class="nav-item")
                      a(class="nav-link" href="#Terms & Conditions") TERMS & CONDITIONS

                    li(class="nav-item")
                      a(class="nav-link" href="#Privacy Policy") PRIVACY POLICY
                      
              ul(class="list-unstyled lists")
                li
                  a(href="#")
                    <i class="fab fa-facebook-square fa-2x"></i>
                li  
                  a(href="#")
                    <i class="fab fa-twitter-square fa-2x"></i>
                li
                  a(href="#")
                    <i class="fab fa-instagram fa-2x"></i>    
  |
  |
  <!-- End footer -->
