extends index
block append linksCss  
  link(rel="stylesheet" , href="/css/planning/planning.css")

  
  
block pageTitle
  title Planing one
block pageContent
  |
  <!-- start Nav -->
  nav(class="navbar navbar-toggleable-md navbar-light")
     .container
          |
          |
          a(class="navbar-brand", href="/")
              img(src="/img/Home-page/logo.png")
          

          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#silver" aria-controls="navbarSupportedContent"  aria-expended="false" aria-lebal="toggle navgation") menu
                
          div(class="collapse navbar-collapse", id="silver")
            ul(class="navbar-nav ml-auto")
                li(class="nav-item")
                  a(href="/signin" role="button" class="btn oow" aria-pressed="true") LOG IN
                                            
                li(class="nav-item")
                  a(href="/signup" class="btn btn-oow" role="button" aria-pressed="true") SIGN UP        
  |
  |
  <!-- End Nav -->
  
  |
  |
  <!-- Start Conetnt plan-one -->
  .plan-one
    .container
      .row
        .content(class="col-lg-12 col-md-12 col-sm-12 text-center")
          h2 Essential Wedding Planning Tips And Tricks  
          p Cover all your wedding planning bases with these expert tips no to-be-wed should be without.
          img(src="/img/planning/aisle-beach-celebration-169198.jpg")
          p(class="under") When planning your wedding, there are things that are nice to know, and there are things you need to know—advice so essential any bride who's lucky enough to hear it thinks, "I'm so glad someone told me that!" If you're wondering whether there's something 
        .tips(class="col-lg-12 col-md-12 col-sm-12")
          h3(class="main-color") 1. Guests Come First 
          p Get a grip on the approximate number of guests you'll invite before settling on a venue. This will ensure there's ample space for your crew. As a rule of thumb, allow for 25 to 30 square feet per guest. 
            
          h3(class="main-color") 2. Listen to Mother Nature
          p Heed the weather and other potential annoyances. Guests have been known to skip out early from hotter-than-hot summer tent weddings and improperly heated winter loft receptions. Bugs (gnats, deer flies and mosquitos) also swarm in certain areas during certain seasons. 
           
          h3(class="main-color") 3. Pay It Forward
          p Let one vendor lead you to another and let him signup on the website. Your wedding photographer can tell you which florist's blooms really pop, and your reception manager should know which band consistently packs the dance floor.
           
          h3(class="main-color") 4. Lighten Your List
          p  The easiest way to trim your wedding budget? Cut your guest list. Remember, half of your wedding expenses go to wining and dining your guests. If it's costing you Eg.100 per person, eliminating one table of 10 can save you Eg.1,000.
          
          h3(class="main-color") 5. Ask and You Might Receive
          p Request an extra hour for cocktails or for your band to throw in that Frank Sinatra sound-alike before you sign on the dotted line. Most vendors would rather secure the reservation than nickel-and-dime you early on (which might turn you off of them). Later on, though, they may be less inclined to meet you halfway.
           
          h3(class="main-color") 6. Make a Meal Plan
          p Typically, you need one bartender per 50 guests to keep the line at a minimum. But if you're serving a signature cocktail that cannot be made ahead of time (or in large quantities), consider adding an extra server designated to this task.
          
          h3(class="main-color") 7. Prepare for Rejection
          p Know that as a rule, about 10 to 20 percent of the people you invite won't attend. Naturally, this depends on the location of your wedding (destination weddings are harder to attend), how many out-of-towners are on your list, and the timing of the event (some guests may have annual holiday plans).
          
          h3(class="main-color") 8. Make a Uniform Kids Policy
          p You have four choices: You can welcome children with open arms; you can decide to have an "adults only" wedding; you can include immediate family only; or, you can hire a child care service to provide day care either at the reception space, in a hotel room or at a family member's home. To prevent hurt feelings, it's wise to avoid allowing some families to bring children while excluding others (unless, of course, the children are in your bridal party).
          
          h3(class="main-color") 9. Prioritize Your People
          p Pare down your guest list with the "tiers of priority" trick. Place immediate family, the bridal party and best friends on top of the list; follow with aunts, uncles, cousins and close friends you can't imagine celebrating without. Under that, list your parents' friends, neighbors, coworkers and so on. If you need to make some cuts, start from the bottom until you reach your ideal number.
          
          h3(class="main-color") 10. Take It One Step at a Time
          p Put together a wedding planning schedule and do things one by one, in a logical order, so you don't take on too much too fast and end up with everything snowballing around you. Don't hire any vendors before you've confirmed your date; don't design your cake before you've envisioned your flowers; and don't book a band before you've settled on a space
          
          h3(class="main-color") 11. Provide Accurate Driving Directions
          p Make sure guests know where they're going. As easy as online map programs are to use, sometimes the directions are wrong or there's a quicker, less traffic-prone route to take. Ask your ceremony and reception sites for printouts or digital copies of recommended driving directions and even test out the routes yourself. Then include the best directions on your wedding website or email them to your guests to print out if they'd like
          
          h3(class="main-color") 12. Keep a Paper Trail
          p Get any nonstandard changes to your agreements in writing or send the vendor a confirmation email saying, "Hello, just confirming that you'll keep the venue open until 2 a.m. versus midnight." Don't just assume everything's all set—sometimes, by the time the actual day rolls around, your contact for a certain may no longer be working there to vouch for you.
          
          h3(class="main-color") 13. Be Realistic With Your Time
          p When it comes down to the last month of your planning (and when you're particularly harried) look at your mile long to-do list.        
  |
  |
  <!-- End -->  
    
  
  |
  |
  <!-- start footer --> 
  .footer
    .row
      div(class="col-lg-12 col-md-12 col-sm-12 foot-img")
        img(src="/img/Home-page/Mask Group 9.svg") 
        div(class="foo-cont")
          p(class="foot-para") &copy; 2019 Oow All Rights Reserved              
          div(class="show")
              ul(class="list-terms ml-auto")
                    li(class="nav-item")
                      a(class="nav-link" href="#Terms & Conditions") TERMS & CONDITIONS

                    li(class="nav-item")
                      a(class="nav-link" href="#Privacy Policy") PRIVACY POLICY
                      
              ul(class="list-unstyled lists")
                li
                  a(href="#")
                    <i class="fab fa-facebook-square fa-2x"></i>
                li  
                  a(href="#")
                    <i class="fab fa-twitter-square fa-2x"></i>
                li
                  a(href="#")
                    <i class="fab fa-instagram fa-2x"></i>    
  |
  |
  <!-- End footer -->
