extends index
block append linksCss  
  link(rel="stylesheet" , href="css/setting-worker/setting-worker.css")
  
block pageTitle
    title Remove Account


block pageContent  
    |
    <!-- start Nav -->
    nav(class="navbar navbar-toggleable-md navbar-light")
       .container
            |
            |
            a(class="navbar-brand", href="/")
                img(src="img/Home-page/logo.png")
            
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#silver" aria-controls="navbarSupportedContent"  aria-expended="false" aria-lebal="toggle navgation") menu
                  
            div(class="collapse navbar-collapse", id="silver")
            ul(class="navbar-nav ml-auto")
              li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle href-color" data-toggle="dropdown" href="#") SETTINGS
                div(class="dropdown-menu")
                  if user.type === "company"
                    a(href="/company-profile" class="dropdown-item") Profile
                  else
                    a(href="/user-profile" class="dropdown-item") Profile
                  a(href="/dashboard/editSetting" class="dropdown-item") Your personal settings
                  if user.type === "company"
                    a(href="/dashboard/service" class="dropdown-item") your Services
                    a(href="/dashboard/company_setting" class="dropdown-item") Account Setting
                  a(href="/complaints" class="dropdown-item") Complaints
                  a(href="/update" class="dropdown-item") updatePassword
                  a(href="/remove-account" class="dropdown-item") Remove Account
                  a(href="/logout" class="dropdown-item") Log Out 
  
  
    |
    |
    <!-- End Nav -->
    |
    |
    <!-- start remove account --> 
    .remove-account
      .row
        .container
          .content-worker(class="col-lg-12 col-md-12 col-sm-12")
            h2(class="text-center") Remove Account 
            .sections
            form(action="/remove-account" method="post")
              .row
                div(class="col-lg-6")
                  .input-field
                    lebal Password
                    input(type="Password" class="account-sett-btn" minlength="8" pattern="^.{7,}$" name="newPassword" required)                  
                div(class="col-lg-6")
                  .input-field
                    lebal Confirm Password
                    input(type="Password" class="account-sett-btn" minlength="8" pattern="^.{7,}$" name="confirmPassword" required)
                button(type="submit" class="btn btn-oow remove-submit") Remove
    <!-- End Remove Account --> 
    |
    |   
    <!-- start footer --> 
    .footer-new
      .container
        .row
          div(class="col-lg-6 col-sm-12")
          div(class="col-lg-6 col-sm-12")
            .social
              ul(class="list-unstyled lists")
                li
                  a(href="#")
                    <i class="fab fa-facebook-square fa-2x"></i>
                li  
                  a(href="#")
                    <i class="fab fa-twitter-square fa-2x"></i>
                li
                  a(href="#")
                    <i class="fab fa-instagram fa-2x"></i>  
        .row            
          div(class="col-lg-6 col-sm-12")
            p(class="white") © 2018 Oow, all rights reserved 
          div(class="col-lg-6 col-sm-12")
            .link-footer
              ul(class="list-unstyled")
                    li(class="nav-item")
                      a(class="nav-link" href="#Terms & Conditions") TERMS & CONDITIONS

                    li(class="nav-item")
                      a(class="nav-link" href="#Privacy Policy") PRIVACY POLICY

    <!-- End footer -->             
