extends index
block append linksCss  
  link(rel="stylesheet" , href="/css/login/singin.css")

block pageTitle
  title Signin
  
block pageContent
  |
  <!-- start Nav -->
  nav(class="navbar navbar-toggleable-md navbar-light")
     .container
          |
          |
          a(class="navbar-brand", href="/")
              img(src="/img/Home-page/logo.png")

  |
  |
  <!-- End Nav -->
  |
  |
  <!-- start login -->
  if errors.message
    .alert.alert-danger.text-center(role='alert')=errors.message
  if success.message
    .alert.alert-success.text-center(role='alert')=success.message
  .singin
    .container
      .row
        .left(class="col-lg-6 col-md-12 col-sm-12 text-center")
          h1 
          p 
          img(src="/img/login/undraw_freelancer_b0my.svg")
            
          .group
            .birds-one 
              img(src="/img/login/Group 200.svg")  
            .birds-two 
              img(src="/img/login/Group 200.svg")    
            .birds-three 
              img(src="/img/login/Group 200.svg")   
          
          .group
            .papple-two 
              img(src="/img/login/Group 197.svg")  
            .papple-three 
              img(src="/img/login/Group 197.svg")    

        .right(class="col-lg-6 col-md-12 col-sm-12 text-center" )
          h1 Add new Password
          p 
          form(id="login-form" action=`/reset-Password/${token}` method="post")
            .input-field
              input(type="password",id="login-email", class="btn-sub", name="newPassword", placeholder="Enter Your New Password" required)
            .input-field
              input(type="password",id="login-email", class="btn-sub", name="confirmPassword", placeholder="Enter Your Confirme Password" required)
            div(class="form")
              button(type="submit", name="submit", class="btn-two") Update
            
        .underfoo
          .group      
            .papple-one 
              img(src="/img/login/Group 198.svg")     
          p @Oow copyright  2018  