extends index
block append linksCss  
  link(rel="stylesheet" , href="css/search/search.css")
  link(rel="stylesheet" , href="/css/contract/contract.css")

block pageTitle
  title Search
  
  
block pageContent
  |
  <!-- start Nav -->
  nav(class="navbar navbar-toggleable-md navbar-light")
     .container
          |
          |
          a(class="navbar-brand", href="/")
              img(src="/img/Home-page/logo.png")
          
          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#silver" aria-controls="navbarSupportedContent"  aria-expended="false" aria-lebal="toggle navgation") menu
                
          include include/nav.pug


  |
  |
  <!-- End Nav -->
  |
  |
  <!-- start search -->
  |
  |
  .search(class="text-center")
      .container
        .row
          .col-lg
            p(class="first") Let's find your wedding team
            p(class="two") Search  local professionals with reviews, pricing, availability, and more
            form(action="/ourSections",method="get",id="form1")
              .input-field
                select(name="governorate")
                  option(hidden,value="") Search Governorates
                  each governorate in result
                    option(value=`${governorate._id}`)=governorate.name
                button(type="submit",form="form1",class="search-btn")
                  a(href="/ourSections")
                  i(class="fa fa-search ")
              div.submit.mt-3(style="display : flex; justify-content : center")
                button.btn(style="margin: 0") Search
  script.
    window.addEventListener("keydown", function (e) {
      if (e.keyCode === 13) {
        $("#form1").submit();
      }
    });
                

                                  
