extends index
block append linksCss  
  link(rel="stylesheet" , href="css/search/search.css")

block pageTitle
  title Search
  
  
block pageContent
  |
  <!-- start Nav -->
  nav(class="navbar navbar-toggleable-md navbar-light")
     .container
          |
          |
          a(class="navbar-brand", href="index.html")
              img(src="/img/Home-page/logo.png")
          
          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#silver" aria-controls="navbarSupportedContent"  aria-expended="false" aria-lebal="toggle navgation") menu
                
          div(class="collapse navbar-collapse", id="silver")
            ul(class="navbar-nav ml-auto")
              li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle href-color" data-toggle="dropdown" href="#") SETTINGS
                div(class="dropdown-menu")
                  if user.type === "company"
                    a(href="/company-profile" class="dropdown-item") Profile
                  else
                    a(href="/user-profile" class="dropdown-item") Profile
                  a(href="/dashboard/editSetting" class="dropdown-item") Your personal settings
                  if user.type === "company"
                    a(href="/dashboard/service" class="dropdown-item") your Services
                    a(href="/dashboard/company_setting" class="dropdown-item") Account Setting
                  a(href="/complaints" class="dropdown-item") Complaints
                  a(href="/update" class="dropdown-item") updatePassword
                  a(href="/remove-account" class="dropdown-item") Remove Account
                  a(href="/logout" class="dropdown-item") Log Out 


  |
  |
  <!-- End Nav -->
  |
  |
  <!-- start search -->
  |
  |
  .search(class="text-center")
      .container
        .row
          .col-lg
            p(class="first") Let's find your wedding team
            p(class="two") Search  local professionals with reviews, pricing, availability, and more
            form(action="/ourSections",method="get",id="form1")
              .input-field
                select(required,name="governorate")
                  option(hidden,value="") Search Governorates
                  each governorate in result
                    option(value=`${governorate._id}`)=governorate.name
                button(type="submit",form="form1",class="search-btn")
                  a(href="/ourSections")
                  i(class="fa fa-search ")



                

                                  
