extends index
block append linksCss
  link(rel="stylesheet" , href="css/our-section/our-section.css")
  link(rel="stylesheet" , href="css/our-section/section-one.css")


block pageTitle
      title Dress & Attire


block pageContent
  |
  <!-- start Nav -->
  nav(class="navbar navbar-toggleable-md navbar-light")
     .container
          |
          |
          a(class="navbar-brand", href="index.html")
              img(src="img/Home-page/logo.png")

          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#silver" aria-controls="navbarSupportedContent"  aria-expended="false" aria-lebal="toggle navgation") menu

          div(class="collapse navbar-collapse", id="silver")
            ul(class="navbar-nav ml-auto")
              li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle href-color" data-toggle="dropdown" href="#") SETTINGS
                div(class="dropdown-menu")
                  a(href="#" class="dropdown-item") Profile
                  a(href="#" class="dropdown-item") Account Settings
                  a(href="#" class="dropdown-item") Complaints
                  a(href="#" class="dropdown-item") Remove Account
                  a(href="#" class="dropdown-item") Log Out


  |
  |
  <!-- End Nav -->
  |
  |
  <!-- start header wedding venues -->
  .main-section-seven
    .content-section(class="text-center")
      h2 Dress & Attire
      p  Looking for the wedding dress of your dreams? These bridal shops are here to help! Read reviews of bridal shops, and start shopping for your wedding gown at least eight months before your big day. It often takes months from the time a bridal shop orders your gown until it arrives, and don’t forget to factor alterations into your schedule!
  <!-- End header wedding venues -->
  |
  |
  <!-- start wedding venues -->
  .file-worker
      .container
        div(class="worker-section")
          .row
            div(class="col-lg-3  first")
              img(src="img/our-section/worker/1.png" class="img-worker")
            div(class="col-lg-7  second")
              h3 The White Mountain Hotel & Resort
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed neque officia fugiat nemo unde, ipsa ipsum mollitia vero? Vel, non! Nostrum quaerat a delectus numquam fuga sapiente similique modi magni?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed neque officia fugiat nemo unde, ipsa ipsum mollitia vero? Vel, non! Nostrum quaerat a delectus numquam fuga sapiente similique modi magni?
              button
                a(href="#") View More

  .file-worker
      .container
        div(class="worker-section")
          .row
            div(class="col-lg-3  first")
              img(src="img/our-section/worker/2.png" class="img-worker")
            div(class="col-lg-7  second")
              h3 The White Mountain Hotel & Resort
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed neque officia fugiat nemo unde, ipsa ipsum mollitia vero? Vel, non! Nostrum quaerat a delectus numquam fuga sapiente similique modi magni?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed neque officia fugiat nemo unde, ipsa ipsum mollitia vero? Vel, non! Nostrum quaerat a delectus numquam fuga sapiente similique modi magni?
              button
                a(href="#") View More

  .file-worker
      .container
        div(class="worker-section")
          .row
            div(class="col-lg-3  first")
              img(src="img/our-section/worker/3.png" class="img-worker")
            div(class="col-lg-7  second")
              h3 The White Mountain Hotel & Resort
              p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed neque officia fugiat nemo unde, ipsa ipsum mollitia vero? Vel, non! Nostrum quaerat a delectus numquam fuga sapiente similique modi magni?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed neque officia fugiat nemo unde, ipsa ipsum mollitia vero? Vel, non! Nostrum quaerat a delectus numquam fuga sapiente similique modi magni?
              button
                a(href="#") View More



  <!-- End wedding venues -->
  |
  |
  <!-- start footer -->
  .footer-new
    .container
      .row
        div(class="col-lg-6 col-sm-12")
        div(class="col-lg-6 col-sm-12")
          .social
            ul(class="list-unstyled lists")
              li
                a(href="#")
                  <i class="fab fa-facebook-square fa-2x"></i>
              li
                a(href="#")
                  <i class="fab fa-twitter-square fa-2x"></i>
              li
                a(href="#")
                  <i class="fab fa-instagram fa-2x"></i>
      .row
        div(class="col-lg-6 col-sm-12")
          p(class="white") © 2018 Oow, all rights reserved
        div(class="col-lg-6 col-sm-12")
          .link-footer
            ul(class="list-unstyled")
                  li(class="nav-item")
                    a(class="nav-link" href="#Terms & Conditions") TERMS & CONDITIONS

                  li(class="nav-item")
                    a(class="nav-link" href="#Privacy Policy") PRIVACY POLICY

  <!-- End footer -->
