@import 'varible';
@import 'fonts';
@import 'nav';
@import 'header';
@import 'about';
@import 'ideas';
@import 'planning';
@import 'subscribe';
@import 'our-plain';
@import 'contact';
@import 'footer';





/* Global */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0;
   margin: 0;

}

html,
body {
   overflow-x: hidden;
   font: 90%/1.6 'Merriweather', serif !important;
}

html {
   line-height: 1.5;
   color: rgba(0,0,0,0.87);

}

h1, h2, h3, h4, h5, h6 { line-height: calc(1.1em + 0.5vw);
                         margin: .0 0 .3em 0;
                         font-family: 'Amaranth', sans-serif;
   }

 h1 {
       font-size: 3.2rem;
       line-height: 110%;
}

 h2 {
          font-size: 2.56rem;
          line-height: 110%;
 }

 h3 {
   font-size: 1.85rem;
   line-height: 110%;
 }


@media only screen and (min-width: 0) {
  html {
      font-size: 14px;
  }
}




/* css Global */
@media only screen and (max-width: 600px){
  .hide-on-small-only,
  .hide-on-small-and-down {
      display: none !important;
  }
}

@media only screen and (max-width: 992px) and (min-width: 600px){
  .hide-on-med-only {
      display: none !important;
  }
}

.text-color{
  color : $mainColorText;
}

.text-website-color{
  color : $mainColor;
}

.main-color{
  color: #FF1744;
}

/* css Global */

/* Global */
