
script(src="/js/tether.js")
script(src="/js/bootstrap.min.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css")
script(src="/js/fontawesome-all.js")
script(src="/js/main.js")
